@import "./variables.sass";

@tailwind base;
@tailwind components;
/* Write your utility classes here */
@tailwind utilities;


body {
  background: cornsilk;
  color: $navi-background;
  background-image: url("./1f4fd.png");
  /* background-repeat: no-repeat; */
  background-position: center;
}